<%- include('./partitials/header.ejs') %>

<body>
  <%- include('./partitials/navbar.ejs') %>

  <div class="container margemTopo">
    <div class="card">
      <div class="card-header uniceplac-card-header">

        <!-- Pesquisa -->
        <form class="form-inline active-cyan-3 active-cyan-4" method="get" action="/resultados">
          <label> Pesquisa &nbsp;&nbsp;</label>
          <br>
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control w-75" type="text" placeholder="Digite aqui..." name="pesquisa">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn uniceplac-btnPesquisa">Pesquisar</button>
        </form>
      </div>
      <div class="card-body">


        <table class="table">
          <thead class="dark">
            <tr>
              <th scope="col">Matrícula</th>
              <th scope="col">Nome</th>
              <th scope="col">Curso</th>
              <th scope="col">Turma</th>
              <th scope="col">Horas</th>
              <th scope="col">Documentos</th>
            </tr>

          </thead>
          <% alunos.forEach(aluno => { %>
          <tbody>
            <tr>
              <th scope="row"> <%= aluno.matricula%> </th>
              <td><%= aluno.nome%></td>
              <td><%= aluno.curso%></td>
              <td><%= aluno.turma%></td>
              <td><%= aluno.horas%></td>
              <td>
                <form method="get" action="/baixar">
                  <button class="btn uniceplac-btnPesquisa" name="path" type="submit" value="<%= aluno.file%>">
                    Baixar
                  </button>
                </form>
              </td>

            </tr>
          </tbody>
          <% }); %>

        </table>
      </div>
    </div>
  </div>

  <%- include('./partitials/footer.ejs') %>