<%- include('./partitials/header.ejs') %>

<body>
  <%- include('./partitials/navbar.ejs') %>

  <div class="container margemTopo">
    <div class="card">
      <div class="card-header">

        <!-- Pesquisa -->
        <form class="form-inline active-cyan-3 active-cyan-4" method="GET" action="/resultados">
          <label> Pesquisa &nbsp;&nbsp;</label>
          <br>
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control w-75" type="text" placeholder="Digite aqui..." name="pesquisa">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
      </div>
      <div class="card-body">


        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Matrícula</th>
              <th scope="col">Curso</th>
              <th scope="col">Turma</th>
              <th scope="col">Horas</th>
            </tr>

          </thead>
          <% resultados.forEach(resultado => { %>
          <tbody>
            <tr>
              <th scope="row"> <%= resultado.id%> </th>
              <td><%= resultado.nome%></td>
              <td><%= resultado.matricula%></td>
              <td><%= resultado.curso%></td>
              <td><%= resultado.turma%></td>
              <td><%= resultado.horas%></td>
            </tr>
          </tbody>
          <% }); %>

        </table>
      </div>
    </div>
  </div>

  <%- include('./partitials/footer.ejs') %>